@{
    ViewData["Title"] = "Optimus Fitness";
}

<h4>Fees Report</h4>
<div class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-md-2 control-label">From Date</label>
        <div class="col-md-5">
            <input id="fromDate" type="date" class="form-control" />
            <span class="danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">To Date</label>
        <div class="col-md-5">
            <input id="toDate" type="date" class="form-control" />
            <span class="danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="button" class="btn btn-primary" value="Get Report" onclick="getReport()" />
        </div>
    </div>
</div>

<div style="width: 500px">

    <table id="tblExpense" cellpadding="0" cellspacing="0" border="1" style="border-collapse:collapse">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Customer ID</th>
                <th>Name</th>
                <th>Mobile Number</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!--- Jquery script section--->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>

<script src="/js/moment.js"></script>

<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    function getReport() {
        let fromDate = $('#fromDate').val();
        let toDate = $('#toDate').val();
        $.ajax({
            type: "GET",
            url: "/Reports/GetFeesReport",
            data: { fromDate: fromDate, toDate: toDate }
            ,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response);
            }
        });
    }
    function OnSuccess(response) {
        console.log(response);
        $("#tblExpense").DataTable(
            {
                destroy: true,
                bLengthChange: true,
                lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                dom: 'lBfrtip',

                buttons: [

                    {
                        extend: 'excelHtml5',
                        title: 'Expense Report'
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Expense Report'
                    }
                ],
                bFilter: true,
                bSort: true,
                bPaginate: true,
                data: JSON.parse(response),
                columns: [
                    { data: 'TransactionId' },
                    { data: 'CustomerId' },
                    { data: 'Customer.Name' },
                    { data: 'Customer.MobileNumber' },
                    { data: 'Description' },
                    { data: 'Amount' },
                    { data: 'TransactedOn', "render": function (value) { return DateFormatter(value) } }
                ]

            });

    };

    function DateFormatter(value) {
        var dateString = moment(value).format('DD-MM-YYYY');
        return dateString;
    }
</script>